/* header (.primary navigation)  */
bulib-header { z-index: 3;}
.banner-wrapper { box-shadow: none;}
bulib-header, #mobile-menu, .bu-banner-content { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

/* general body styling */
h1 { font-family: "ApexNew", "Helvetica", sans-serif; }
h2 {
  font-family: "VeneerClean-Reg", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
p { font-size: 1.1em; }
body { 
  font-family: "Benton-Sans","Helvetica",sans-serif;
  margin: 0; 
}

/* market-page, banded styling with padded rows with alternating colors */
section { padding: 35px; }
section:nth-child(odd){  background: var(--color-secondary-background, gainsboro); }
section:nth-child(even){ background: white; }

/* welcome banner */ 
#main-content .bu-banner { width: 100% !important; }
.bu-banner-media { max-height: 500px; }
.bu-banner-title-wrapper { width: 90%; max-height: 60vh !important; }
h1.bu-banner-title { 
  font-weight: 700;
  font-size: 6vw;
  text-transform: uppercase;
  color:  #ffffff;
  text-shadow: 0 2px 7px rgba(0,0,0,0.3);
}
.bu-banner-content h1, .bu-banner-content p { display: block; }
.bu-banner-content .secondary-menu a { 
  font-size: 1.2em; 
  color: black; 
  font-family: "VeneerClean-Reg","Helvetica",sans-serif;
}
.bu-banner-content ul { 
  border-radius: var(--padding-small, 5px);
  padding: var(--padding-medium, 10px);
  margin: 0px auto 0px auto;
  justify-content: space-evenly; 
  text-align: center;
  width: 60%;
} 
.bu-banner-content a:hover { color: var(--color-accent-red-background, red); }

/* responsiveness */
@media only screen and (max-width: 600px){ 
  section { padding: 15px; }
  h1.bu-banner-title { font-size: 1.8em !important; }
}
@media only screen and (min-width: 850px){
  h1.bu-banner-title { font-size: 4.5vw !important; }
}
@media only screen and (min-width: 1500px){
  #main-content > * {
    margin: 0 auto;
    width: 85%;
  }
}
strong, .bold { font-weight: bold !important;}

/* linked images get darker when you hover over them */ 
section a img:hover { cursor: pointer; filter: brightness(90%); }

/* rounded corners on the sectondary menu */
.secondary-menu { border-radius: var(--padding-small, 5px); }

.left { justify-content: flex-start !important; }
.right { justify-content: flex-end !important; }
